<!DOCTYPE html>
<html th:replace="~{/../components/layout :: layout}">
<body>
<div th:fragment="content" class="container">
    <h2 class="text-center">Alterar Dados de Pet Sitter</h2>
    <form action="#" th:with="actionUrl=${'/petsitters/cadastrar' + (prestadorId != null ? '/' + prestadorId : '')}" th:action="@{${actionUrl}}" th:object="${petSitterDTO}" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{id}" th:value="${petSitterDTO.prestadorId}" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="hidden" th:field="*{prestadorId}" th:value="${petSitterDTO.prestadorId}" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Hospedagem</label>
            <input type="checkbox" th:field="*{hospedagem}" class="form-control">
        </div>
        <div class="form-group">
            <label>Pets Hospedados</label>
            <input type="number" th:field="*{petsHospedados}" class="form-control">
        </div>
        <div class="form-group">
            <label>Limite Pets Hospedados</label>
            <input type="number" th:field="*{limitePetsHospedados}" class="form-control">
        </div>
        <div class="form-group">
            <label>Descrição da Locação</label>
            <textarea th:field="*{descricaoLocacao}" class="form-control" maxlength="1000"></textarea>
        </div>
        <div class="form-group">
            <label>Descrição da Rotina</label>
            <textarea th:field="*{descricaoRotina}" class="form-control" maxlength="1000"></textarea>
        </div>
        <div class="form">
            <label>Valor/Hora Hospedada</label>
            <input type="number" th:field="*{valorHoraHospedada}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>