<!DOCTYPE html>
<html th:replace="~{/../components/layout :: layout}">
<body>
<div th:fragment="content" class="container">
    <h2 class="text-center">Alterar Dados de Pet Sitter</h2>
    <form action="#" th:with="actionUrl=${'/petsitters/cadastrar' + (prestadorId != null ? '/' + prestadorId : '')}" th:action="@{${actionUrl}}" th:object="${petSitterDTO}" method="post">
        <input type="hidden" th:field="*{id}" th:value="${petSitterDTO.id}">
        <div class="form-group">
            <input type="hidden" th:field="*{prestadorId}" th:value="${petSitterDTO.prestadorId}" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="hidden" th:field="*{prestadorId}" th:value="${petSitterDTO.prestadorId}" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Hospedagem</label>
            <input type="checkbox" th:field="*{hospedagem}" id="hospedagem" class="form-control" onchange="toggleFields()">
        </div>
        <div class="form-group" id="petsHospedados" th:style="${petSitterDTO.hospedagem} ? '' : 'display: none;'">
            <label>Pets Hospedados</label>
            <input type="number" th:field="*{petsHospedados}" class="form-control">
        </div>
        <div class="form-group" id="limitePetsHospedados" th:style="${petSitterDTO.hospedagem} ? '' : 'display: none;'">
            <label>Limite Pets Hospedados</label>
            <input type="number" th:field="*{limitePetsHospedados}" class="form-control">
        </div>
        <div class="form-group" id="descricaoLocacao" th:style="${petSitterDTO.hospedagem} ? '' : 'display: none;'">
            <label>Descrição da Locação</label>
            <textarea th:field="*{descricaoLocacao}" class="form-control" maxlength="1000"></textarea>
        </div>
        <div class="form-group">
            <label>Descrição da Rotina</label>
            <textarea th:field="*{descricaoRotina}" class="form-control" maxlength="1000"></textarea>
        </div>
        <div class="form">
            <label>Valor por Diária</label>
            <input type="text" th:field="*{valorPorDiaria}" class="form-control valor-reais">
        </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
    <script src="/js/recebe-hospedagem.js" ></script>
    <script src="/js/conversao-real-decimal.js" ></script>
</div>
</body>
</html>