<!DOCTYPE html>
<html th:fragment="layout" lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ConnecPet</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script type="application/javascript"  src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="application/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    </head>
    <body>
        <div th:replace="~{components/navbar::navbar}"></div>
        <div th:insert="~{this :: content}" class="container"></div>
        <div th:fragment="page-scripts">
        </div>
    </body>
</html>