<!DOCTYPE html>
<html th:replace="~{/../components/layout :: layout}">

<body>
<div th:fragment="content" class="container">
  <h1 class="my-4">Detalhes do Cliente</h1>
  <div class="row">
    <div class="col-md-4">
      <img th:src="${detalhesCliente.foto}" class="img-fluid rounded-circle" alt="Foto Cliente">
    </div>
    <div class="col-md-8">
      <h2 class="my-3">Informações do Cliente</h2>
      <p><strong>ID:</strong> <span th:text="${detalhesCliente.id}"></span></p>
      <p><strong>Nome:</strong> <span th:text="${detalhesCliente.primeiroNome + ' ' + detalhesCliente.sobrenome}"></span></p>
      <p><strong>Email:</strong> <span th:text="${detalhesCliente.email}"></span></p>
      <p><strong>Telefone:</strong> <span th:text="${detalhesCliente.telContato}"></span></p>
      <p><strong>Tel. alternativo:</strong> <span th:text="${detalhesCliente.telContatoAlternativo}"></span></p>
      <p><strong>Endereço:</strong> <span th:text="${detalhesCliente.endereco}"></span></p>
      <p><strong>Cidade:</strong> <span th:text="${detalhesCliente.cidade}"></span></p>
      <p><strong>CEP:</strong> <span th:text="${detalhesCliente.cep}"></span></p>
      <p><strong>Estado:</strong> <span th:text="${detalhesCliente.estado}"></span></p>
    </div>
  </div>
  <a th:href="@{/pets/cadastrar/{clienteId} (clienteId=${detalhesCliente.id})}" class="btn btn-primary">Cadastrar Pet</a>
    <h2 class="my-3">Pets</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Espécie</th>
          <th scope="col">Raça</th>
          <th scope="col">Idade</th>
          <th scope="col">Cor</th>
          <th scope="col">Porte</th>
            <th scope="col">Sexo</th>
            <th scope="col">Observações</th>
            <th scope="col">Foto</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet : ${detalhesCliente.pets}">
          <td th:text="${pet.nomePet}"></td>
          <td th:text="${pet.especie}"></td>
          <td th:text="${pet.raca}"></td>
          <td th:text="${pet.idade}"></td>
          <td th:text="${pet.cor}"></td>
          <td th:text="${pet.porte}"></td>
          <td th:text="${pet.sexo}"></td>
          <td th:text="${pet.observacoes}"></td>
          <td><img th:src="${pet.foto}" class="img-fluid rounded-circle" alt="Foto Pet"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>