<!DOCTYPE html>
<html th:replace="~{/../components/layout :: layout}">
<body>
<div th:fragment="content" class="container">
    <h2 class="text-center">Cadastrar Prestador</h2>
    <form th:action="@{/prestadores/cadastrar}" th:object="${prestadorDTO}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Primeiro Nome</label>
                    <input type="text" th:field="*{primeiroNome}" class="form-control" required>
                    <span class="error text-danger" th:if="${#fields.hasErrors('primeiroNome')}" th:errors="*{primeiroNome}"></span>
                </div>
                <div class="form-group">
                    <label>Telefone</label>
                    <input type="text" th:field="*{telContato}" class="form-control tel" required>
                    <span class="error text-danger" th:if="${#fields.hasErrors('telContato')}" th:errors="*{telContato}"></span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" th:field="*{email}" class="form-control" required>
                    <span class="error text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label>CEP</label>
                    <input type="text" th:field="*{cep}" id="cep" class="form-control" required>
                    <span class="error text-danger" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></span>
                </div>
                <div class="form-group">
                    <label>Número da Residência</label>
                    <input type="text" th:field="*{numeroResidencia}" id="num-resid" class="form-control">
                    <span class="error text-danger" th:if="${#fields.hasErrors('numeroResidencia')}" th:errors="*{numeroResidencia}"></span>
                </div>
                <div class="form-group">
                    <label>Cidade</label>
                    <input type="text" th:field="*{cidade}" class="form-control" required>
                    <span class="error text-danger" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></span>
                </div>
                <div class="form-group">
                    <label>Foto</label>
                    <input type="text" th:field="*{foto}" class="form-control">
                    <span class="error text-danger" th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Sobrenome</label>
                    <input type="text" th:field="*{sobrenome}" class="form-control" required>
                    <span class="error text-danger" th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}"></span>
                </div>
                <div class="form-group">
                    <label>Telefone Alternativo</label>
                    <input type="text" th:field="*{telContatoAlternativo}" class="form-control tel">
                    <span class="error text-danger" th:if="${#fields.hasErrors('telContatoAlternativo')}" th:errors="*{telContatoAlternativo}"></span>
                </div>
                <div class="form-group">
                    <label>CPF</label>
                    <input type="text" th:field="*{cpf}" id="cpf" class="form-control" required>
                    <span class="error text-danger" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
                </div>
                <div class="form-group">
                    <label>Endereço</label>
                    <input type="text" th:field="*{endereco}" class="form-control" required>
                    <span class="error text-danger" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></span>
                </div>
                <div class="form-group">
                    <label>Bairro</label>
                    <input type="text" th:field="*{bairro}" id="bairro" class="form-control" required>
                    <span class="error text-danger" th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}"></span>
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    <input type="text" th:field="*{estado}" class="form-control" required>
                    <span class="error text-danger" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <label>Pet Sitter?</label>
                        <div class="form-group d-flex justify-content-center">
                            <input type="checkbox" th:field="*{isPetSitter}" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <label>Pet Walker?</label>
                        <div class="form-group d-flex justify-content-center">
                            <input type="checkbox" th:field="*{isPetWalker}" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    <script src="/js/masks.js" type="application/javascript"></script>
    <script src="/js/viacep.js" type="application/javascript"></script>
</div>

</body>
</html>