<!DOCTYPE html>
<html th:replace="~{/../components/layout :: layout}">
<body>
<div th:fragment="content" class="container">
    <form th:action="@{/prestadores/remover}" th:object="${prestador}" method="post">
        <h4 class="my-4">[['Deseja realmente remover o prestador ' + ${prestador.primeiroNome} + ' ' + ${prestador.sobrenome}]]</h4>        <input type="hidden" th:field="*{id}" />
        <input type="submit" value="Sim" class="btn btn-danger" /> |
        <a th:href="@{/prestadores}" class="btn btn-primary">Não</a>
    </form>
</div>
</body>
</html>