<!DOCTYPE html>
<html th:replace="~{/../components/layout :: layout}">
<body>
<div th:fragment="content" class="container">
    <h2 class="text-center">Cadastrar como Pet Walker</h2>
    <form action="#" th:with="actionUrl=${'/petwalkers/cadastrar' + (prestadorId != null ? '/' + prestadorId : '')}" th:action="@{${actionUrl}}" th:object="${petWalkerDTO}" method="post">

        <div class="form-group">
            <input type="hidden" th:field="*{prestadorId}" th:value="${petWalkerDTO.prestadorId}" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Tempo de Passeio (minutos)</label>
            <input type="number" step="0.01" th:field="*{tempoPasseio}" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Portes Aceitos</label>
            <div th:each="porte : ${T(com.pi.connecpet.model.enums.Porte).values()}">
                <input type="checkbox" th:field="*{portesAceitos}" th:value="${porte}" /> <label th:text="${porte}"></label>
            </div>
        </div>
        <div class="form-group">
            <label>Valor por Passeio</label>
            <input type="text" th:field="*{valorHoraPasseio}" class="form-control valor-reais" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="/js/conversao-real-decimal.js" ></script>
</div>
</body>
</html>