<!DOCTYPE html>
<html th:replace="~{components/layout :: layout}">
    <body>
        <div th:fragment="content" class="container">
            <h1 class="my-4">Atualizar Cliente</h1>
            <form th:action="@{/clientes/cadastrar}" th:object="${clienteDTO}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="primeiroNome">Primeiro Nome</label>
                    <input type="text" class="form-control" id="primeiroNome" th:field="*{primeiroNome}">
                    <span class="error text-danger" th:if="${#fields.hasErrors('primeiroNome')}" th:errors="*{primeiroNome}"></span>
                </div>
                <div class="form-group">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" id="sobrenome" th:field="*{sobrenome}">
                    <span class="error text-danger" th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}"></span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}">
                    <span class="error text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label for="telContato">Telefone</label>
                    <input type="text" class="form-control" id="telContato" th:field="*{telContato}">
                    <span class="error text-danger" th:if="${#fields.hasErrors('telContato')}" th:errors="*{telContato}"></span>
                </div>
                <div class="form-group">
                    <label for="telContatoAlternativo">Telefone Alternativo</label>
                    <input type="text" class="form-control" id="telContatoAlternativo" th:field="*{telContatoAlternativo}">
                    <span class="error text-danger" th:if="${#fields.hasErrors('telContatoAlternativo')}" th:errors="*{telContatoAlternativo}"></span>
                </div>
                <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" class="form-control" id="endereco" th:field="*{endereco}">
                    <span class="error text-danger" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></span>
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" th:field="*{cidade}">
                    <span class="error text-danger" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></span>
                </div>
                <div class="form-group">
                    <label for="cep">CEP</label>
                    <input type="text" class="form-control" id="cep" th:field="*{cep}">
                    <span class="error text-danger" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></span>
                </div>
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" id="estado" th:field="*{estado}">
                    <span class="error text-danger" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>
                </div>
                <div class="form-group">
                    <label for="foto">Foto</label>
                    <input type="text" class="form-control" id="foto" th:field="*{foto}">
                    <span class="error text-danger" th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}"></span>
                </div>
                <button type="submit" class="btn btn-primary">Alterar</button>
            </form>
        </div>
    </body>
</html>