<!DOCTYPE html>
<html th:replace="~{components/layout :: layout}">
    <body>
        <div th:fragment="content">
            <h1>Lista de Clientes</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${listarClientes}">
                        <th scope="row" th:text="${cliente.id}"></th>
                        <td th:text="${cliente.primeiroNome + ' ' + cliente.sobrenome}"></td>
                        <td th:text="${cliente.email}"></td>
                        <td th:text="${cliente.telContato}"></td>
                        <td th:text="${cliente.cidade}"></td>
                        <td>
                            <a th:href="@{/clientes/detalhes/{id}(id=${cliente.id})}" class="btn btn-primary">Detalhes</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>